# ===== CMake / CLion =====
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.idea/

# ===== Compiled artifacts =====
*.o
*.out
*.exe

# ===== macOS =====
.DS_Store

#Other
Protocol notes.md
Protocol notes.md
